<nav class="navbar bg-linear-primary nav-shadow" data-bs-theme="dark">
   <div class="container px-md-5">

      <div class="search-bar text-white fs-4">
         <input #id type="text" placeholder="Search By Id" (input)="search(id.value)" (blur)="searching = false">
         <span><i class="mdi mdi-magnify"></i></span>
      </div>

      <button class="btn border-0 back" role="button">
         <i class="mdi mdi-chevron-right fs-4" (click)="back()"></i>
      </button>

   </div>
</nav>

<div class="resulte card" *ngIf="searching" @flyIn>
   <div class="card-body" *ngIf="user" @visibility (click)="searching = false" routerLink="/profile/{{user.id}}">
      <div class="row w-100 m-0 px-2">
         <div class="col-3 p-0">
            <div class="card-img">
               <img src="{{user.avatar}}">
            </div>
         </div>
         <div class="col-9 ps-3 my-auto">
            <h5>{{user.first_name}} {{user.last_name}}</h5>
         </div>
      </div>
   </div>

   <span class="loader m-auto" *ngIf="!user && loading"></span>

   <h4 class="text-center my-auto" *ngIf="!user && !loading">No resulte founded</h4>

</div>